.c-joke-viewer{

}
.c-joke-viewer button{
  margin-bottom: 0.5rem;
}

.c-joke-viewer .o-list-item{
  background-color: rgba(255,255,255,0.025);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
